$_main_color: #242424;
$_main_bg_color: rgba(255, 255, 255, 0.87);
$_header_color: #747bff;
$_header_accent_color: red;

$_black: #121111;
$_purple-dark: #5c3588;
$_purple: #943db4;
$_purple_light: #d2ccee;
$_pink: #ffb9d9;
$_pink_light: #ffeffb;
$_white: #ffffff;
