<div class="cta">
  <a
    class="cta-link"
    href="https://play.google.com/store/apps/details?id=com.cocogames.candymatchroyal&hl=en&gl=us"
    target="_blank"
  >
    <div class="cta-content">
      <svg class="cta-icon-image" width="21" height="24">
        <use href="/img/header/sprite.svg#icon-Playstore"></use>
      </svg>

      <div class="cta-right-box">
        get it on
        <svg class="cta-icon-text" width="74" height="15">
          <use href="/img/header/sprite.svg#icon-path90"></use>
        </svg>
      </div>
    </div>
  </a>
</div>
