<section class="levels" id="endless-candy-levels">
  <div class="container levels-container">
    <div class="levels-text-box">
      <h2 class="levels-title section-title">Endless Candy Levels</h2>
      <h3 class="levels-subtitle">Thousands of Sweet Challenges!</h3>
      <p class="levels-desc">
        Enjoy daily rewards, spin the wheel for awesome bonuses, and dive into
        sweet missions! There's always something new and exciting to discover in
        the Candy Kingdom.
      </p>
    </div>

    <div class="levels-images">
      <picture class="levels-picture-left">
        <source
          srcset="
            /img/sweetest/left-hand-mob.png    1x,
            /img/sweetest/left-hand-mob-2x.png 2x
          "
          media="(max-width: 1199px)"
        />
        <source
          srcset="
            /img/sweetest/left-hand.png    1x,
            /img/sweetest/left-hand-2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
          class="levels-image-left"
          src="/img/sweetest/left-hand.png"
          alt="A hand holding a smartphone and ready to press a Play button."
          width="539"
          height="360"
          loading="lazy"
        />
      </picture>
      <picture class="levels-picture-right">
        <source
          srcset="
            /img/sweetest/right-hand-mob.png    1x,
            /img/sweetest/right-hand-mob-2x.png 2x
          "
          media="(max-width: 1199px)"
        />
        <source
          srcset="
            /img/sweetest/right-hand.png    1x,
            /img/sweetest/right-hand-2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
          class="levels-image-right"
          src="/img/sweetest/right-hand.png"
          alt="A hand playing game where a cartoon hero is moving along a curvy road to start next level."
          width="384"
          height="405"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
