<footer class="footer-section">
  <div class="container footer-container">
    <div class="main-content-join">
      <a href="#enter-candy-the-kingdom">
        <div class="logo-img-container-footer">
          <span class="logo-img-footer"></span>
        </div>
      </a>
      <div class="list-terms-container">
        <ul class="list-terms">
          <a href="/privacy-policy.html"
            ><li class="term-item">Privacy Policy</li></a
          >
          <a href="/terms-and-conditions.html"
            ><li class="term-item">Terms & Conditions</li></a
          >
          <a href="/cookies-policy.html"
            ><li class="term-item">Cookies Policy</li></a
          >
        </ul>
      </div>
    </div>
    <div class="rights-container">
      <p class="rights-text">
        &copy;2025 candyroyal.site, All rights reserved.
      </p>
    </div>
  </div>
</footer>
