<footer class="footer-section">
  <div class="container footer-container">
    <div class="main-content-join">
      <a href="/stp-8590/" aria-label="Homepage">
        <div class="logo-img-container-footer">
          <span class="logo-img-footer" role="img" aria-label="Company Logo"></span>
        </div>
      </a>
      <div class="list-terms-container">
        <ul class="list-terms">
          <li class="term-item">
            <a href="/stp-8590/privacy-policy.html">Privacy Policy</a>
          </li>
          <li class="term-item">
            <a href="/stp-8590/terms-and-conditions.html">Terms & Conditions</a>
          </li>
          <li class="term-item">
            <a href="/stp-8590/cookies-policy.html">Cookies Policy</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="rights-container">
      <p class="rights-text">
        &copy;2025 candyroyal.site, All rights reserved.
      </p>
    </div>
  </div>
</footer>
