<section class="hero" id="enter-candy-the-kingdom">
  <div class="container hero-container">
    <div class="titles-container">
      <h1 class="title-enter-candy">Enter the Candy Kingdom</h1>
      <h2 class="title-your-kingdom">Your Candy Kingdom Adventure Begins!</h2>
    </div>

    <div class="content-join">
      <h3 class="title-crush-candies">
        Crush candies and explore a world of sweet fun!
      </h3>
      <p class="main-text">
        Join the candy fairy on a magical journey through thousands of sweet
        levels. Get ready for a sugar rush of fun!
      </p>
      <button class="btn-join" type="button">
        <a
          href="https://play.google.com/store/apps/details?id=com.cocogames.candymatchroyal&hl=en&gl=us"
          ><div class="btn-content">
            <div class="image-btn">
              <svg class="icon-play-svg" width="21" height="24">
                <use href="/img/header/sprite.svg#icon-Playstore"></use>
              </svg>
            </div>
            <div class="content-btn-text">
              get it on
              <svg class="icon-text-svg" width="74" height="15">
                <use href="/img/header/sprite.svg#icon-path90"></use>
              </svg>
            </div>
          </div>
        </a>
      </button>
    </div>
  </div>
  <script type="module" src="../js/hero.js"></script>
</section>
