<section class="join-the-candy-crew" id="join-the-candy-crew">
  <div class="container join-container">
    <div class="text-content-join">
      <h2 class="join-title">Join the Candy Crew</h2>
      <p class="main-text-join">
        Ready to join the candy crew? Download Candy Match Royal and start your
        sweet adventure today!
      </p>
    </div>

    <button class="btn-join-candy" type="button">
      <a
        href="https://play.google.com/store/apps/details?id=com.cocogames.candymatchroyal&hl=en&gl=us"
        ><div class="btn-content">
          <div class="image-btn">
            <svg class="icon-play-svg" width="21" height="24">
              <use href="/img/header/sprite.svg#icon-Playstore"></use>
            </svg>
          </div>
          <div class="content-btn-text">
            get it on
            <svg class="icon-text-svg" width="74" height="15">
              <use href="/img/header/sprite.svg#icon-path90"></use>
            </svg>
          </div>
        </div>
      </a>
    </button>
  </div>
</section>
