<section class="jazz">
  <div class="container jazz-container">
    <h2 class="section-title">Relax with Candy Jazz</h2>

    <h3 class="jazz-subtitle">Chill with Candy Jazz!</h3>

    <p class="jazz-desc">
      With over 3,000 levels, your candy adventure never ends! Each level is a
      new puzzle filled with sugary surprises.
    </p>

    <picture>
      <source
        srcset="
          /img/sweetest/jazz-phone-mob.png    1x,
          /img/sweetest/jazz-phone-mob-2x.png 2x
        "
        media="(max-width: 1199px)"
      />
      <source
        srcset="
          /img/sweetest/jazz-phone-desk.png    1x,
          /img/sweetest/jazz-phone-desk-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <img
        class="jazz-image"
        src="/img/sweetest/jazz-phone-desk.png"
        alt="Screenshot with super candies in action: lots of matches at once."
        width="205"
        height="419"
      />
    </picture>
  </div>
</section>
