<section class="sweetest" id="sweetest-matching-fun">
  <div class="container sweetest-container">
    <h2 class="section-title sweetest-title">Sweetest Matching Fun</h2>

    <h3 class="sweetest-subtitle">Match, Crush, and Conquer!</h3>

    <p class="sweetest-desc">
      Connect three or more candies, create candy bombs, and unleash magical
      combos! It's easy to play, but the levels get deliciously challenging.
    </p>

    <picture class="sweetest-picture">
      <source
        srcset="
          /img/sweetest/phone-mob.png    1x,
          /img/sweetest/phone-mob-2x.png 2x
        "
        media="(max-width: 1199px)"
      />
      <source
        srcset="/img/sweetest/phone-desk-2x.png 2x"
        media="(min-width: 1200px)"
      />
      <img
        class="sweetest-image"
        src="/img/sweetest/phone-desk.png"
        alt="Smartphone with Candy Kindom running."
        width="282"
        loading="lazy"
      />
    </picture>
  </div>
</section>
