@import url('./footer.scss');

.policy {
  background-color: $_pink_light;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;

  &-container {
    margin: 0 auto;
    width: 320px;
    padding: 40px 20px;

    @include media(desktop) {
      width: 1200px;
      padding: 80px 80px 84px;
    }
  }

  &-back {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid $_purple_dark;
    width: 100%;
    padding: 9px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    background-color: $_pink;
    transition: background-color 200ms linear;
    
    @include media(desktop) {
      width: fit-content;
      padding: 14px 24px;
    }
    
    &:hover,
    &:focus {
      background-image: linear-gradient($_white, #dfb4e7);
    }
  }

  &-title {
    margin-top: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: $_purple_dark;

    @include media(desktop) {
      font-size: 46px;
    }
  }

  &-section {
    margin-top: 40px;
  }

  &-subtitle {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: $_purple_dark;

    @include media(desktop) {
      font-size: 32px;
      font-weight: 700;
    }
  }

  &-h3 {
    margin-top: 24px;
    color: $_purple_dark;
  }

  &-desc,
  &-item {
    margin-top: 20px;
    color: $_black;

    @include media(desktop) {
      margin-top: 24px;
    }
  }

  &-list {
    list-style: inside;
  }

  &-list-title {
    display: inline;
  }

  &-link {
    text-decoration: underline;
  }

  &-datalist {
    margin-top: 24px;
  }

  &-datalist-title {
    display: inline;
    // margin-right: 4px;
  }

  &-datalist-data {
    display: inline;
    margin-left: 0;
  }
}
