.jazz {
  color: $_purple-dark;
  background: linear-gradient($_pink_light, $_pink_light 50%, #f2c3fae5);

  &-container {
    width: 320px;
    padding: 20px;
    background-image: url('/img/sweetest/jazz-candies-mob.png');
    background-size: contain;
    background-position: bottom 77px center;
    background-repeat: no-repeat;

    @media (min-resolution: 192dpi) {
      background-image: url('/img/sweetest/jazz-candies-mob-2x.png');
    }

    @include media(desktop) {
      width: 1200px;
      padding: 80px 80px 44px;
      background-image: url('../img/sweetest/jazz-candies.png');
      background-size: 1040px 240px;
      background-position: bottom 77px center;
      background-repeat: no-repeat;

      @media (min-resolution: 192dpi) {
        background-image: url('../img/sweetest/jazz-candies-2x.png');
      }
    }
  }

  &-subtitle {
    margin-top: 32px;

    @include media(desktop) {
      margin-top: 60px;
    }
  }

  &-desc {
    margin-top: 20px;

    @include media(desktop) {
      margin-top: 32px;
      width: 556px;
    }
  }

  &-image {
    margin-top: 32px;
    width: 264px;
    height: 438px;

    @include media(desktop) {
      margin-top: -117px;
      margin-left: auto;
      margin-right: 88px;
      width: 312px;
      height: 489px;
    }
  }
}
