.jazz {
  color: $_purple-dark;

  &-container {
    width: 320px;
    padding: 20px;
    // background: ;
    background: url('/img/sweetest/jazz-candy-heart-mob.png'),
      url('/img/sweetest/jazz-candy-cube-mob.png'),
      linear-gradient($_pink_light, $_pink_light 50%, $_pink);
    background-size: 48px 48px, 47.84px 52.62px, 100% 100%;
    background-position: bottom 77px right, bottom 223px left, top;
    background-repeat: no-repeat;

    @include media(desktop) {
      width: 1200px;
      padding: 80px 80px 44px;
    }
  }

  &-subtitle {
    margin-top: 32px;

    @include media(desktop) {
      margin-top: 60px;
    }
  }

  &-desc {
    margin-top: 20px;

    @include media(desktop) {
      margin-top: 32px;
      width: 556px;
    }
  }

  &-image {
    margin-top: 32px;
    width: 280px;
    height: 426px;

    @include media(desktop) {
      margin-top: -117px;
      margin-left: auto;
      width: 205px;
      height: 419px;
      box-shadow: 8px 1px 20px 0 #00000040;
      transform: rotate(10deg);
    }
  }
}
