@import './common/base.scss';
@import './common/container.scss';
@import './common/sections.scss';
@import './header.scss';
@import './hero.scss';
@import './button-google-play.scss';
@import './sweetest-matching-fun.scss';
@import './kindom-of-features.scss';
@import './endless-candy-levels.scss';
@import './relax-with-candy-juzz.scss';
@import './join-candy-crew.scss';
@import './footer.scss';
@import './cookies.scss';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}
