.sweetest {
  color: $_purple-dark;

  &-container {
    width: 320px;
    padding: 40px 20px 28px;
    background-image: url('../img/sweetest/road-mob.png');
    background-size: 297px 180px;
    background-repeat: no-repeat;
    background-position: bottom 35px right 80px;

    @media (min-resolution: 192dpi) {
      background-image: url('../img/sweetest/road-mob-2x.png');
    }

    @include media(desktop) {
      width: 1200px;
      padding: 80px 80px 60px;
      background-size: 1097px 302px;
      background-image: url('../img/sweetest/road.png');

      @media (min-resolution: 192dpi) {
        background-image: url('../img/sweetest/road-2x.png');
      }
    }
  }

  &-subtitle {
    margin-top: 32px;

    @include media(desktop) {
      margin-top: 80px;
    }
  }

  &-desc {
    margin-top: 20px;

    @include media(desktop) {
      margin-top: 32px;
      width: 600px;
    }
  }

  &-picture {
    display: block;
    width: fit-content;
    margin-top: 31px;
    margin-left: auto;

    @include media(desktop) {
      margin-top: -117px;
      margin-left: 712px;
    }
  }

  &-image {
    display: block;
    width: 116px;
    height: 235px;

    @include media(desktop) {
      width: 245px;
      height: 500px;
    }
  }
}
